body {
    background:#eee;
    font-family:Arial;
}
.login-container,
.dashboard-container,
.chat-container {
    width:400px;
    margin:auto;
    margin-top:30px;
}
.room-info {
    margin-top:20px;
    padding:10px;
    background:#fff;
    border-radius:5px;
}
.popup {
    display:none;
    position:fixed;
    left:0; top:0;
    width:100%; height:100%;
    background:rgba(0,0,0,0.6);
    justify-content:center;
    align-items:center;
}
.popup-inner {
    background:white;
    padding:20px;
    border-radius:10px;
}
.message-list {
    height:400px;
    overflow:auto;
    background:white;
    padding:10px;
}
.message {
    margin-bottom:10px;
    padding:5px;
    border-bottom:1px solid #ccc;
}
