.admin-actions {
  float: right;
}

.admin-actions button {
  margin-left: 4px;
  background: #ffffff22;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  padding: 2px 6px;
}
