.system-msg {
  background:#222;
  color:#aaa;
  text-align:center;
  padding:6px;
  margin:6px;
  border-radius:6px;
  font-style:italic;
}

.chat-msg button {
  margin-left:4px;
  cursor:pointer;
}
