/* DARK MODE */
body.dark {
  background: #121212;
  color: #eee;
}

body.dark .info-card,
body.dark .popup-content,
body.dark .login-card {
  background: #1e1e1e;
  color: #eee;
}

body.dark button {
  background: #333;
  color: white;
}

/* USER LIST */
.user-row {
  padding: 6px;
  margin-bottom: 4px;
  border-radius: 4px;
}

.user-row.online::before {
  content: "● ";
  color: #3fd46d;
}
